/**
 * Place your custom CSS styles here.
 **/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.selected-element {
    background-clip: #bcd5eb !important;
    outline: 1px dashed #0CA750 !important;
    cursor: help;
}

#details {
    padding: 10px;
    border-radius: 4px;
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    display: inline;
}

#details>h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 0 8px 8px;
    display: inline;
}

#details>p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    margin: 0;
}

#details>img {
    height: 16px;
}

#close {
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    top: 40px;
    right: 40px;
    padding: 8px 12px;
    background: #002838;
    box-shadow: 0px 4px 8px rgba(0, 40, 56, 0.2);
    border-radius: 2px;
}

#close>img {
    height: 8px;
}

#close>p {
    display: inline;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 8px;
}

.free {
    background: #0CA750;
    box-shadow: 0px 4px 8px rgba(5, 71, 34, 0.2);
}

.paid {
    background: #C63434;
    box-shadow: 0px 4px 8px rgba(77, 20, 20, 0.2);
}

.invalid {
    background: #002838;
    box-shadow: 0px 4px 8px rgba(0, 40, 56, 0.2);
}